@page "/streams"

<MudContainer MaxWidth="MaxWidth.Medium">
    <PageTitle>Ashwell Forge - Streams</PageTitle>

    <h1>Hello, streams!</h1>

    Here's where you can find your streams.
</MudContainer>
